<div id="game" class="upper">
    <div id="canvascontainer"></div>
    <button id="start">Start</button>
    <button onclick="openDoorA()">Open Door A</button>
    <button onclick="closeDoorA()">Close Door A</button>
</div>
<div class="lower">
    <div class="listaction">
        Choisis une action:
        <ul id="actionslist"></ul>
    </div>
    <div class="lowerright">
        <textarea id="story"></textarea>
    </div>
</div>