.upper, .lower {
    position: absolute;
    left: 0;
    right: 0;
}

#canvascontainer {
    width: 800px;
    height: 600px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.upper {
    top: 0;
    vertical-align: middle;
    height: 75%;
}

.lower {
    bottom: 0;
    height: 25%;
    overflow:scroll;
    border: 1px solid black;
    overflow: hidden;
}

.listaction {
    border-right: 1px solid black;
    float: left;
    height: 100%;
    width: 33%;
}

.lowerright {
    display:inline-block;
    width: 66%;
    height:100%;
}

#story {
    display:inline-block;
    height:100%;
    width:100%;
}

li.actions {
    list-style: none;
}

li.items {
    list-style: none;
}

li.actions:hover {
    cursor: pointer;
    color: blue;
}